<!DOCTYPE html>
<html>
    <head>
        <!-- following line makes the web-page mobile friendly (touch zooming, etc) -->
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        
        <!-- bootstrap 4.0 -->
        <link 
            rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
            crossorigin="anonymous"
        >
        
        <link rel="stylesheet" href="/stylesheets/main.css">
        
        <title>Scott's Website</title>
        
    </head>
    <body>
       
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--<a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/socialMedia">Social Media <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/projects">Projects <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!--Projects/Programs ... left blank on purpose--> 
                        </a>
                        <!-- TO-DO: Make following drop-down menus dynamic, automatically being generated based on new projects I upload into the mongo DB-->
                        <!-- For now, they'll be hard-coded web-pages web1.0 style-->
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/jobAppMapper">[Python] Job Application Tracker/Mapper</a>
                          <a class="dropdown-item" href="/oracleMovieRental">[Oracle SQL] Fictional Movie Rental Company Database Student Project</a>
                          <a class="dropdown-item" href="/yelpCamp">[Javascript] Modified Yelp-Camp Code-Along</a>
                          <div class="dropdown-divider"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>