<!DOCTYPE html>
<html>
    <head>
        <!-- following line makes the web-page mobile friendly (touch zooming, etc) -->
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        
        <!-- bootstrap 4.0 -->
        <link 
            rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
            crossorigin="anonymous"
        >
        
        <title>Scott's Website</title>
        
    </head>
    <body>
       
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--<a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
                    <!--</li>-->
                    <!--<li class="nav-item">-->
                    <!--    <a class="nav-link" href="#">Projects</a>-->
                    <!--</li>-->
                    <!--<li class="nav-item dropdown">-->
                    <!--    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--    Dropdown-->
                    <!--    </a>-->
                    <!--    <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                    <!--      <a class="dropdown-item" href="#">Action</a>-->
                    <!--      <a class="dropdown-item" href="#">Another action</a>-->
                    <!--      <div class="dropdown-divider"></div>-->
                    <!--      <a class="dropdown-item" href="#">Something else here</a>-->
                    <!--    </div>-->
                    <!--</li>-->
                    <li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Projects/Programs
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">[Python] Job Application Tracker</a>
                              <a class="dropdown-item" href="#">[Oracle SQL] Fictional Movie Rental Company Database</a>
                              <a class="dropdown-item" href="#">[Javascript] Yelp-Camp Code Along</a>
                              <div class="dropdown-divider"></div>
                            </div>
                        </li>
                    </li>
                </ul>
            </div>
        </nav>