<% include partials/header %>

<div class="jumbotron">
  <h1 class="display-4">Projects Showcase</h1>
  <p class="lead">Here's an ever-expanding collection of my projects.</p>
  <hr class="my-4">
  <p>Feel free to click on any of the following projects for screenshots of the programs, along with links to their code on GitHub!</p>
  <p class="lead">
    <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
  </p>
</div>

<% include partials/footer %>