<% include partials/header %>

<div class="jumbotron">
  <h1 class="display-4">Projects Showcase</h1>
  <p class="lead">Here's an ever-expanding collection of my projects.</p>
  <hr class="my-4">
  <p>Feel free to click on any of the following projects for screenshots of the programs, along with links to their code on GitHub!</p>
  <p class="lead">
    <!--<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/content/jobTrackerShowcase/job tracker input program.png" style="width:100%">
          <div class="caption">
            <h4>[Python] Job Tracker Database and Mapper</h4>
          </div>
          <p>
            <a href="/jobAppMapper" class="btn btn-primary">Project Page</a>
            <a href="https://github.com/ScottWDeane/Resume-Database" class="btn btn-primary">GitHub</a>
          </p>
        </div>    
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/content/yelpCampShowcase/content home page.png" style="width:100%">
          <div class="caption">
            <h4>[Javascript] Modified YelpCamp Code-Along Student Project</h4>
          </div>
          <p>
            <a href="/yelpCamp" class="btn btn-primary">Project Page</a>
            <a href="https://github.com/ScottWDeane/YelpCamp-Student-Code-Along" class="btn btn-primary">GitHub</a>
          </p>
      </div>    
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/content/oracleDBShowcase/oracleDBrandomsnippet.png" style="width:100%">
          <div class="caption">
            <h4>[Oracle SQL] Fictional Movie Rental Student Final Project</h4>
          </div>
          <p>
            <a href="/oracleMovieRental" class="btn btn-primary">Project Page</a>
            <a href="https://github.com/ScottWDeane/ORACLE-SQL-Movie-Rental-Store" class="btn btn-primary">GitHub</a>
          </p>
      </div>    
    </div>
  </div>
</div>

<% include partials/footer %>