/*It works! Praise the Light!*/

/*following color modifications are temporary so I don't blind myself as I work on the content*/
body {
    color: white;
    background-color: black;
}

.jumbotron {
    background-color: #72859A;
    color: black;
}

.carousel-inner > .carousel-item > img {
    margin: auto;
}

.carousel-caption {
    color: black;
}

.button-centerizer {
    text-align: center;
}